@charset "UTF-8";
/*variables*/
/* couleurs*/
/*animations*/
/*valeurs de bases*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*loader*/
.blank {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: white;
  z-index: 1;
}
.blank__animation {
  animation: desapearing 2s;
  animation-fill-mode: both;
}

.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: solid 7px #e4d5f6;
  border-top: solid 7px #9356DC;
  border-radius: 50%;
  z-index: 2;
  animation: rotation linear 5 1s;
}

/*animations*/
@keyframes slide-in {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes desapearing {
  0% {
    opacity: 100%;
  }
  95% {
    opacity: 100%;
  }
  99% {
    opacity: 0%;
    height: 100%;
  }
  100% {
    opacity: 0%;
    height: 0;
  }
}
@keyframes heart_aper {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
body a, body a:hover, body a:visited, body a:checked {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 1100px;
  margin: auto;
}

/* classes utilisées ailleurs*/
.shadow {
  box-shadow: 1px 5px 15px #e2e2e2;
}
.shadow--dark {
  box-shadow: 1px 5px 15px #c8c8c8;
}

.arrondi {
  border-radius: 15px;
  overflow: hidden;
}

.cover {
  object-fit: cover;
  object-position: center;
}
.cover__bottom {
  object-position: center bottom;
}
.cover__mid {
  object-position: center 60%;
}

/*boutons*/
.button {
  display: flex;
  width: 180px;
  justify-content: center;
  align-items: center;
  font-size: 0.95em;
  color: white;
  background: linear-gradient(#ff79da, #9356DC);
  padding: 15px 0px 15px 0px;
  margin: auto;
  border-radius: 30px;
}
.button__commander {
  width: 140px;
}
.button:hover {
  cursor: pointer;
  background: linear-gradient(#ff88de, #9b63df);
  box-shadow: 1px 5px 10px #909090;
}

.button_nouveau {
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
  color: #278870;
  background-color: #99e2d0;
  position: absolute;
  top: 20px;
  right: 10px;
  padding: 5px 8px 5px 8px;
}

.label {
  display: inline-block;
  height: 45px;
  width: 40px;
  vertical-align: middle;
  text-align: center;
  margin: auto;
  border-radius: 15px 0px 0px 15px;
}

.input {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: black;
  background-color: transparent;
  padding: 5px 0px 5px 10px;
  margin: 0px;
  border: none;
}
.input:focus {
  background-color: white;
  outline: none;
}
.input::placeholder {
  opacity: 1;
}

/*titres et paragraphes*/
h1, h2 {
  padding-bottom: 15px;
}

/*header*/
header, nav {
  text-align: center;
  padding: 15px 15px 10px 15px;
  position: relative;
}

header img, nav img {
  width: 170px;
}

nav i {
  font-size: 1.5em;
  position: absolute;
  top: 20px;
  left: 15px;
}

/*accueil : section 1*/
#information, .restaurant {
  background-color: #f6f6f6;
}

#localisation {
  display: flex;
  justify-content: center;
  font-weight: bold;
  background-color: #dddddd;
  padding: 4px;
}
#localisation .fas {
  padding: 5px 10px 0px 10px;
}

#information {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px;
}
#information p {
  padding-bottom: 15px;
}

/*accueil : section 2-fonctionnement*/
#fonctionnement {
  padding: 30px 20px 20px 20px;
}
#fonctionnement .etape {
  display: flex;
  height: 50px;
  align-items: center;
  font-weight: bold;
  background-color: #f6f6f6;
  margin-bottom: 15px;
  border-radius: 15px;
}
#fonctionnement .etape:hover {
  background-color: #e9ddf8;
}
#fonctionnement .etape:hover .picto .fas {
  color: #9356DC;
}
#fonctionnement .etape .number {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 10px;
  color: white;
  border-radius: 20px;
  background-color: #9356DC;
}
#fonctionnement .etape .picto {
  width: 30px;
}
#fonctionnement .etape .picto .fas {
  color: #909090;
  padding: 0px;
  margin: 0px;
}

/*accueil : section 3 - Liste des restaurants*/
.restaurant {
  padding: 20px;
}
.restaurant .gallerie {
  display: flex;
  flex-direction: column;
}
.restaurant__card {
  width: 100%;
  height: 230px;
  background-color: white;
  position: relative;
  margin-bottom: 20px;
}
.restaurant img {
  width: 100%;
  height: 74%;
}
.restaurant .description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.favori {
  width: 30px;
  height: 30px;
  position: relative;
  font-size: 1.6em;
}
.favori .far {
  display: inline;
  opacity: 1;
  position: absolute;
  right: 5px;
  bottom: 5px;
  animation: heart_aper reverse 250ms;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  /*ceci permet au contour noir de rester à opacité 0 aprés que la souri soit retirée*/
}
.favori .fas {
  display: inline;
  opacity: 0;
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-weight: bold;
  animation: heart_aper 250ms;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  /*ceci permet au coeur de rester rempli aprés que la souri soit retirée*/
}

.favori:hover > .fas {
  animation-play-state: running;
  /*ceci permet au coeur de rester rempli aprés que la souri soit retirée*/
}

.favori:hover > .far {
  animation-play-state: running;
  /*ceci permet au contour noir de rester à opacité 0 aprés que la souri soit retirée*/
}

.gradient {
  background: -webkit-linear-gradient(#9356DC, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*footer*/
footer {
  height: 190px;
  background-color: #353535;
  color: white;
  padding: 20px;
}
footer .container {
  padding: 0px 20px 0px 20px;
}
footer a, footer a:visited, footer a:checked, footer a:hover {
  color: white;
}
footer ul {
  list-style: none;
}
footer ul li {
  padding: 0px 0px 10px 0px;
}
footer h3 {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  padding-bottom: 20px;
}
footer .fas {
  width: 19px;
  font-size: 0.9em;
  padding-right: 5px;
}

/* pages menu*/
.illustration_menu {
  width: 100%;
  height: 250px;
}
.illustration_menu img {
  width: 100%;
  height: 100%;
}

.menu {
  background-color: #f6f6f6;
  z-index: 3;
  position: relative;
  padding: 20px 15px 20px 15px;
  margin-top: -20px;
  border-radius: 25px 25px 0px 0px;
}
.menu__titre {
  display: flex;
  justify-content: space-between;
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  position: relative;
}
.menu__card {
  display: flex;
  min-width: 0;
  justify-content: space-between;
  position: relative;
  background-color: white;
  margin-bottom: 15px;
  /*animation*/
}
.menu__card__animation1 {
  animation: slide-in 1100ms 0.5s ease-in-out;
  animation-fill-mode: backwards;
}
.menu__card__animation2 {
  animation: slide-in 1100ms 1s ease-in-out;
  animation-fill-mode: backwards;
}
.menu__card__animation3 {
  animation: slide-in 1100ms 1.5s ease-in-out;
  animation-fill-mode: backwards;
}
.menu__card i {
  transform: translateX(15px) rotate(0deg);
  transition: transform 1000ms;
}
.menu__card:hover .menu__card__validation {
  width: 45px;
  transition: width 400ms ease-in-out;
}
.menu__card:hover .menu__card__validation > i {
  transform: translateX(0px) rotate(360deg);
  transition: transform 400ms ease-in-out;
}
.menu__card__visible {
  display: flex;
  width: 100%;
  min-width: 0;
}
.menu__card__description {
  flex: 2;
  min-width: 0;
  padding: 10px;
}
.menu__card__description p, .menu__card__description h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__card__prix {
  display: flex;
  align-items: flex-end;
  padding: 10px;
  font-weight: bold;
}
.menu__card__validation {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width:45px;*/
  width: 0px;
  background-color: #99e2d0;
  color: white;
  font-size: 1.4em;
  transition: width 1000ms;
  /* transform: translateX(45px);  /*point de depart
   transition: transform 1000ms;*/
  /*animations!*/
}
.menu h1 {
  font-weight: normal;
}
.menu h2 {
  text-transform: uppercase;
  font-size: 1em;
  padding: 20px 0px 0px 0px;
}
.menu .button {
  margin: 40px auto 40px auto;
}

.trait-vert {
  width: 30px;
  height: 2px;
  background-color: #99e2d0;
  margin-bottom: 15px;
}

/*------------ régles pour les grands écrans ------------*/
@media screen and (min-width: 750px) {
  .illustration_menu {
    width: 100%;
    height: 50vh;
    max-height: 400px;
  }
  .illustration_menu img {
    width: 100%;
    height: 100%;
  }

  #fonctionnement .liste {
    display: flex;
    justify-content: space-around;
  }
  #fonctionnement .liste .etape {
    width: 30%;
  }

  .restaurant .gallerie {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .restaurant__card {
    width: 45%;
  }
}

/*# sourceMappingURL=style.css.map */
