/*------------------valeurs de bases-------------*/
* {
    box-sizing:border-box;
    padding: 0;
    margin:0;
}
body{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    a, a:hover, a:visited, a:checked {
        text-decoration : none;
        color:black;
    }
}
.container{
    max-width:1250px;
    margin:auto;
}

/*titres et paragraphes*/
h1, h2{
    padding-bottom: 15px;
}

/*classes utilisées partout*/
.shadow{
    box-shadow: 1px 5px 15px darken($background-color, 8%);

    &--dark{
        box-shadow: 1px 5px 15px darken($background-color, 18%);
    }
}
.arrondi {
    border-radius: 15px;
    overflow: hidden;
}
.cover{
    object-fit :cover;
    object-position:center;

    &__bottom {
        object-position: center bottom;
    }

    &__mid {
        object-position: center 60%;
    }
}