/*---------------------pages menu------------------*/

.illustration_menu{
    width:100%;
    height:250px;
    img{
        width:100%;
        height:100%;
    }
}
.menu{
    background-color: $background-color;
    z-index: 3;
    position:relative;
    padding: 20px 15px 20px 15px;
    margin-top:-20px;
    border-radius: 25px 25px 0px 0px;
    &__titre{
        display: flex;
        justify-content:space-between;
        font-family:'Shrikhand', cursive;
        font-weight:normal; 
        position:relative;       
    }
    &__card{
        display: flex;
        min-width:0;
        justify-content:space-between;
        position: relative;     
        background-color:white;
        margin-bottom:15px;

        /*animation*/
        &__animation1{
            animation:slide-in $anim_duration $delay ease-in-out;
            animation-fill-mode: backwards;
        }
        &__animation2{
            animation:slide-in $anim_duration $delay*2 ease-in-out;
            animation-fill-mode: backwards;
        }
        &__animation3{
            animation:slide-in $anim_duration $delay*3 ease-in-out;
            animation-fill-mode: backwards;
        }

        i{
            transform: translateX(15px) rotate(0deg) ;
            transition: transform 1000ms;
        }
        &:hover  .menu__card__validation {
           width:45px;
           transition: width 400ms ease-in-out;
        }
        &:hover .menu__card__validation >i {
            transform: translateX(0px) rotate(360deg);
            transition: transform 400ms ease-in-out;         
        }
        
       &__visible{ 
            display:flex;
            width:100%;
            min-width:0;
        }
        
        &__description{
            flex:2;
            min-width:0;
            padding:10px;
            
            p, h3{
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow:hidden;
            }
        }  

        &__prix{  
            display: flex;
            align-items:flex-end;
            padding:10px;
            font-weight:bold;
        }

        &__validation{
            display: flex;
            justify-content:center;
            align-items:center;
            width:0px;
            background-color: $tertiary-color;
            color:white;
            font-size:1.4em;
            transition: width 1000ms;  
        }  
    }

    h1 {
        font-weight:normal;
    }

    h2{
        text-transform: uppercase;
        font-size: 1em;
        padding:20px 0px 0px 0px;
    }
    .button{
        margin:40px auto 40px auto;
    }
}
.trait-vert{
    width:30px;
    height:2px;
    background-color:$tertiary-color;
    margin-bottom:15px;
}
/*regle pour les grands ecrans*/
@media screen and (min-width:750px){
    .illustration_menu{
        width:100%;
        height:50vh;
        max-height:400px;
        img{
            width:100%;
            height:100%;
        }
    }
}